<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf.layout">
<head>
    <meta charset="utf-8">
    <title>부채결산 시스템</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div name="header">
        <th:block th:replace="fragments/header :: headerFragment"></th:block>
    </div><br>
    <hr>
    <div name="content" id="main_home">
        <h2>User List Page</h2>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>ID</th>
                    <th>부서</th>
                    <th>직급</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.user_no}"></td>
                    <td th:text="${user.user_name}"></td>
                    <td th:text="${user.user_id}"></td>
                    <td th:text="${user.user_dept}"></td>
                    <td th:text="${user.user_job}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div name="footer">
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </div>
</body>
</html>